/old_data/*
/bin/*
/build/*
/completed*/*
/data*/*
/olddata/*
/dict/*
/processing/*
/.project
/build/
*.jar
/resources*/*
/mappings*/*
/.pydevproject
/.DS_Store
/patientMappings*/*
/oracle*/*
/mappings*/*
/resources*/*
/resources/*
/testing.sh
/tesadfadf.sh
/buildConsentGroups.sh
/buildGlobalVar.sh
/fixjobconfigs.sh
/jhs_dataevaluation.txt
/mergedAllConcepts.csv
/nohup.out
/ogonenode.txt
/ogtwonodes.tsv
/onenode.txt
/hierarchies/*
/studyids.txt
ETLToolSuite-EntityGenerator.iml