filename=/Users/tom/Documents/udn/master_patient_record.json
writeoptions=WRITE,CREATE,APPEND
writedestination=/Users/tom/Documents/udn/completed/
mappingfile=/Users/tom/Documents/udn/udn_mapping3.csv
patientmappingfile=/Users/tom/Documents/udn/PatientMapping2.csv
mappingdelimiter=,
relationalkey=:fields:uuid
sourcesystemcd=UDN
datasourceformat=etl.data.datasource.entities.json.udn.UDN
entitypackage=etl.data.export.entities.i2b2.