datadir=	./data/
mappingfile=	./mappings/mapping.csv
patientmappingfile=/Users/tom/Documents/JacksonMapping/PatientMapping.csv
processingdir=/Users/tom/Documents/JacksonMapping/Processing/
completeddir=/Users/tom/Documents/JacksonMapping/Completed/
#writeoptions=	
skipmapperheader=Y
skipdataheader=N
rootnode=Jackson
datadelimiter=,
mappingdelimiter=,
sourcesystemcd=Jackson