filename=/Users/tom/Documents/udn/2018-05.json
writeoptions=WRITE,CREATE,APPEND
writedestination=/Users/tom/Documents/udn/completed/
mappingfile=/Users/tom/Documents/udn/udn_mapping3.csv
patientmappingfile=/Users/tom/Documents/udn/PatientMapping2.csv
mappingdelimiter=,
relationalkey=:fields:uuid
sourcesystemcd=UDN
datasourceformat=etl.data.datasource.entities.json.udn.UDN
