filename=/home/ec2-user/etl/ETLToolSuite-EntityGenerator/data/
mappingfile=/home/ec2-user/etl/ETLToolSuite-EntityGenerator/mappings/mapping.csv
patientmappingfile=/home/ec2-user/etl/ETLToolSuite-EntityGenerator/mappings/PatientMapping.csv
writedestination=/Users/tom/Documents/CSVwork/completed/
#dictfile=/home/ec2-user/etl/ETLToolSuite-EntityGenerator/mappings/DataDictionary.csv
#writeoptions=
skipmapperheader=Y
skipdataheader=Y
datadelimiter=,
mappingdelimiter=,
mappingquotedstring=`
relationalkey=0
sourcesystemcd=COPD