filename=./data/
mappingfile=./mappings/mapping.csv
patientmappingfile=./mappings/PatientMapping.csv
writedestination=./completed/
#dictfile=./mappings/DataDictionary.csv
#writeoptions=
skipmapperheader=Y
skipdataheader=Y
datadelimiter=,
mappingdelimiter=,
mappingquotedstring=`
relationalkey=0
sourcesystemcd=COPD