filename=./data/
mappingfile=./data/mapping.csv
patientmappingfile=./data/PatientMapping.csv
writedestination=./completed/
#dictfile=./mappings/DataDictionary.csv
#writeoptions=
skipmapperheader=Y
skipdataheader=Y
datadelimiter=,
mappingdelimiter=,
mappingquotedstring="
relationalkey=1
sourcesystemcd=GSE