filename=/Users/tom/Documents/CSVwork/test/
mappingfile=	/Users/tom/Documents/CSVwork/completed/mappingnew.csv
patientmappingfile=/Users/tom/Documents/CSVwork/PatientMapping2.csv
writedestination=/Users/tom/Documents/CSVwork/completed/
dictfile=/Users/tom/Documents/CSVwork/datadict.csv
#writeoptions=
skipmapperheader=N
skipdataheader=Y
datadelimiter=,
mappingdelimiter=,
mappingquotedstring=`
relationalkey=0
sourcesystemcd=COPD