filename=/Users/tom/Documents/udn/load/
mappingfile=/Users/tom/Documents/udn/Metabolomics_Map_new.csv
patientmappingfile=
writedestination=/Users/tom/Documents/udn/load/
#dictfile=./mappings/DataDictionary.csv
#writeoptions=
skipmapperheader=Y
skipdataheader=Y
datadelimiter=,
mappingdelimiter=,
mappingquotedstring=`
relationalkey=0
sourcesystemcd=UDN