filename=./example/
mappingfile=./example/nhanes_mapping.csv
patientmappingfile=./example/nhanes_patient_mapping.csv
writedestination=./completed/
skipmapperheader=Y
skipdataheader=Y
datadelimiter=\t
mappingdelimiter=,
mappingquotedstring="
#relationalkey=0
sourcesystemcd=NHANES
#sequencers=[(ConceptDimension,ObservationFact),conceptCd,CONCEPTCD,I2B2,1,1],[(ObservationFact),encounterNum,ENCNUM,I2B2,1,1],[(ObservationFact),instanceNum,INSTNUM,I2B2,1,1]
