# URI to File or Directory that contains data to be loaded
filename=./example/
# URI to Mapping file
mappingfile=./example/nhanes_mapping.csv
# URI to Patient Mapping file
patientmappingfile=./example/nhanes_patient_mapping.csv
# Location Table Entity files will be written to.
writedestination=./completed/
# Flag to skip mapping headers
skipmapperheader=Y
# Flag to skip data headers
skipdataheader=Y
# The data seperator for data file(s)
datadelimiter=\t
# Flag that contains mapping seperator.
mappingdelimiter=,
# Character used for quoted strings in data file
mappingquotedstring="
# Short Name of Trial
sourcesystemcd=NHANES

## Sequencers. Turn to N if you want to perserve the keys used to sequence columns
# Sequence master switch.  Turn to N to not perform any sequencing.
sequencedata=Y
# Instance num switch.  Turn to N to not perform any sequencing.
sequenceinstance=Y
# Patient num switch.  Turn to N to not perform any sequencing.
sequencepatient=Y
# Concept_cd switch.  Turn to N to not perform any sequencing.
sequenceconcept=Y
# encounter_num switch.  Turn to N to not perform any sequencing.
sequenceencounter=Y
