filename=./example/
mappingfile=./example/nhanes_large_sample_mapping.csv
patientmappingfile=./example/nhanes_large_patient_mapping.csv
writedestination=./completed/
skipmapperheader=Y
skipdataheader=Y
datadelimiter=\t
mappingdelimiter=,
mappingquotedstring="
#relationalkey=0
sourcesystemcd=NHANES
sequencedata=Y
sequenceinstance=Y
sequencepatient=Y
sequenceconcept=Y
sequenceencounter=Y
filetype=csv